<!--start-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Droppable - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  #draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( ".draggable" ).draggable();
    $( ".droppable" ).droppable({
      drop: function( event, ui ) {
        var question = ui.draggable.data('num');
        var answer = $(this).data('num');

        if(question == answer){
          var answerArray =['Wahoo!', 'Correct!', 'Damn straight!', 'Yes, indeedy!','Right on!']
          var rand = answerArray[Math.floor(Math.random() * answerArray.length)];
              $( this ).find( "p" ).html( rand );
              $(this).find("p").addClass('movetxt');
              $( this).css("background-color", "#99f78f");
              $( this).css("color", "#4caf50");
              $(this).addClass('bg-animate');
              $(this).addClass('shadow');
              ui.draggable.css('visibility','hidden');
        }

      }
    });
  } );
  </script>
</head>
<body>
<div class="container">
<h1>How well do you know Lisa and Dave?</h1>
<h3>drag the <span style="color:#afdcff;">blue</span> cards to the <span style="color:#f69c9d;">pink</span> cards to make a match.</h2>
<div class="col-xs-4 col-sm-3 col-md-3 draggable" data-num="lisa-gen">
  <p>Lisa</p>
</div>
<div class="row">
<div class="col-xs-4 col-sm-3 col-md-3 droppable" data-num="lisa-gen">
  <p>This person won a trip to L.A in high school to appear as an extra on the show "What I Like About You."</p>
</div>


<div class="col-xs-4 col-sm-3 col-md-3 draggable" data-num="david-berry">
  <p>Raspberries</p>
</div>
 <div class="col-xs-4 col-sm-3 col-md-3 droppable" data-num="disc">
  <p>Professor Snape</p>
</div>
<div class="col-xs-4 col-sm-3 col-md-3 draggable" data-num="lisa-david">
  <p>David and Lisa</p>
</div>
<div class="col-xs-4 col-sm-3 col-md-3 droppable" data-num="david-berry">
  <p>This is Dave's favorite berry.</p>
</div>
<div class="col-xs-4 col-sm-3 col-md-3 droppable" data-num="lisa-gen">
  <p>This person is terrified of frogs and toads.</p>
</div>

<div class="col-xs-4 col-sm-3 col-md-3 draggable" data-num="lisa-gen">
  <p>Lisa</p>
</div>


 <div class="col-xs-4 col-sm-3 col-md-3 draggable" data-num="lisa-berry">
  <p>Blackberries</p>
</div>
<div class="col-xs-4 col-sm-3 col-md-3 draggable" data-num="toe">
  <p>A big toenail.</p>
</div>

 <div class="col-xs-4 col-sm-3 col-md-3 droppable" data-num="david-gen">
  <p>Dave hates this.</p>
</div>

<div class="col-xs-4 col-sm-3 col-md-3 draggable" data-num="cheese">
  <p>What Lisa's older sister calls her</p>
</div>

 <div class="col-xs-4 col-sm-3 col-md-3 droppable" data-num="hamilton">
  <p>Mr. Hamilton</p>
</div>

<div class="col-xs-4 col-sm-3 col-md-3 draggable" data-num="david-gen">
  <p>Ketchup</p>
</div>

<div class="col-xs-4 col-sm-3 col-md-3 draggable" data-num="disc">
  <p>Dave pretended to be this guy every year for Hogwart's at Hamilton.</p>
</div>

<div class="col-xs-4 col-sm-3 col-md-3 droppable" data-num="lisa-david">
  <p>This is a movie about two patients at a mental hospital who meet and fall in love (this isn't a metaphor for Hamilton College).</p>
</div>


<div class="col-xs-4 col-sm-3 col-md-3 droppable" data-num="lisa-berry">
  <p>This is Lisa's favorite berry.</p>
</div>
 <div class="col-xs-4 col-sm-3 col-md-3 draggable" data-num="hamilton">
  <p>Both performed in this spectacle at Hamilton, Lisa as a dancer and Dave as part of a human pyramid.</p>
</div>

<div class="col-xs-4 col-sm-3 col-md-3 droppable" data-num="nels">
  <p>Nels Cline</p>
</div>


<div class="col-xs-4 col-sm-3 col-md-3 droppable" data-num="cheese">
  <p>Cheese.</p>
</div>



<div class="col-xs-4 col-sm-3 col-md-3 droppable" data-num="dave-gen">

  <p>Dave</p>
</div>

<div class="col-xs-4 col-sm-3 col-md-3 droppable" data-num="toe">
  <p>Lisa is permanently missing a bodypart. What is it?</p>
</div>



<div class="col-xs-4 col-sm-3 col-md-3 draggable" data-num="dave-gen">
  <p>Out of the two, this person has far better eyesight.</p>
</div>



<div class="col-xs-4 col-sm-3 col-md-3 draggable" data-num="nels">
  <p>Dave has shaken hands with this guitarist, who also happens to be one of his musical heroes.</p>
</div>


</div>
</div>
</body>



<!--end-->