
<!doctype html>
<head>
<script>
var touch = 'ontouchstart' in document.documentElement
            || (navigator.MaxTouchPoints > 0)
            || (navigator.msMaxTouchPoints > 0);

if (touch) { // remove all :hover stylesheets
    try { // prevent exception on browsers not supporting DOM styleSheets properly
        for (var si in document.styleSheets) {
            var styleSheet = document.styleSheets[si];
            if (!styleSheet.rules) continue;

            for (var ri = styleSheet.rules.length - 1; ri >= 0; ri--) {
                if (!styleSheet.rules[ri].selectorText) continue;

                if (styleSheet.rules[ri].selectorText.match(':hover')) {
                    styleSheet.deleteRule(ri);
                }
            }
        }
    } catch (ex) {}
}

</script>
</head>

<div class="container">
  <h1>Where to stay</h1>
  <h3>there was a time before we were born, if someone asks this is where I'll be</h3>
  <h4>hotels</h4>
<p>We've got a big block of rooms reserved for Friday and Saturday at a discounted rate at:</p>
<p class="address"><a href="http://www.marriott.com/hotels/travel/boslt-courtyard-boston-littleton/" target="_blank">Courtyard Marriott Littleton</a><br>The Point<br>102 Constitution Avenue<br>Littleton, MA<br>01460<br><i class="fa fa-phone" aria-hidden="true"></i>+1-978-440-5040
<iframe class="address-map" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJZ9pPU9-V44kREW7bjBu1oyE&key=AIzaSyBRNpM00N4yr2znJ0p79sYbsyEgA8IjTNM" allowfullscreen></iframe></p>

<br>
<p>The hotel is located at The Point, which (aside from being a <a href="#" id="point"><%=image_tag "point.png", :class=>"point-img"%>true gem of an album and movie</a> boasting a soundtrack by Harry Nilsson and narration by Ringo Starr) is a center home to cafes, bars, restaurants, and shopping.</p>
<p>The hotel is accessible by taking exit 31 from route 495.</p>
<p>You can begin booking rooms in June 2017, and you have until May 2018 to receive the discounted rate. When booking, mention that you are attending the Buch-Moroney wedding (we'll have a code up here for you soon)! Email lisakbuch@gmail.com with any questions.</p>

<p>As alternatives, the following are close to The Courtyard, although we do not have blocks of rooms reserved here:</p>
  <ul class="options">
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i> <a href="http://hamptoninn3.hilton.com/en/hotels/massachusetts/hampton-inn-and-suites-westford-chelmsford-BOSWFHX/index.html" target="_blank">The Hampton Inn & Suites Westford-Chelmsford</a></li>
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i> <a href="http://thelyttletoninn.com/" target="_blank">The Lyttleton Inn</a></li>
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i> <a href="http://www.marriott.com/hotels/travel/bosrw-residence-inn-boston-westford/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2" target="_blank">The Residence Inn Boston Westford</a></li>
    </ul>

<br>
<h4>Airbnb</h4>
<p>There are a few Airbnb's nearby that would be great options for groups, such as:
<ul class="options"> <li><i class="fa fa-chevron-right" aria-hidden="true"></i> <a href="https://www.airbnb.com/rooms/3673266?checkin=06%2F16%2F2017&checkout=06%2F18%2F2017&guests=9&adults=9&children=0&infants=0&s=caWW8uiG" target="_blank">This lake house in Ayer</a></li>
  <li><i class="fa fa-chevron-right" aria-hidden="true"></i> This <a href="https://www.airbnb.com/rooms/16577862?checkin=06%2F16%2F2017&checkout=06%2F18%2F2017&guests=5&adults=5&children=0&infants=0&s=-xymeuGh" target="_blank">ski house</a> right near Nashoba Valley</li>
<li> <i class="fa fa-chevron-right" aria-hidden="true"></i> <a href="https://www.airbnb.com/rooms/10310425?checkin=06%2F16%2F2017&checkout=06%2F18%2F2017&guests=9&adults=9&children=0&infants=0&s=caWW8uiG" target="_blank">This one</a> in Harvard (the town, not the university, which is 40 miles away in Cambridge).</li>
</ul>
</div>