
<!doctype html>
<head>
<script>
var touch = 'ontouchstart' in document.documentElement
            || (navigator.MaxTouchPoints > 0)
            || (navigator.msMaxTouchPoints > 0);

if (touch) { // remove all :hover stylesheets
    try { // prevent exception on browsers not supporting DOM styleSheets properly
        for (var si in document.styleSheets) {
            var styleSheet = document.styleSheets[si];
            if (!styleSheet.rules) continue;

            for (var ri = styleSheet.rules.length - 1; ri >= 0; ri--) {
                if (!styleSheet.rules[ri].selectorText) continue;

                if (styleSheet.rules[ri].selectorText.match(':hover')) {
                    styleSheet.deleteRule(ri);
                }
            }
        }
    } catch (ex) {}
}


</script>
</head>

<div class="container">
<h1>The Rundown</h1>
<h3>Woke up, rolled out of bed, dragged a comb across my head</h3>
<p class="address">The main event will take place at;</p>
<p class="address"><a href="https://www.google.com/maps?q=The+Barn+at+Gibbet+Hill&ion=1&espv=2&bav=on.2,or.r_cp.&bvm=bv.142059868,d.cGc&biw=1323&bih=838&dpr=0.9&um=1&ie=UTF-8&sa=X&ved=0ahUKEwjZoLP4pJjRAhUD9WMKHeYXBcMQ_AUIBigB" target="_blank">The Barn at Gibbet Hill</a><br>61 Lowell Road<br>Groton, MA<br>01450<br/>(it's a big red barn, you can't miss it.)</p>

<iframe class="address-map" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJpeaUpfO_44kRh60jWMkRqJQ&key=AIzaSyDiamd5cAzgbboHlyZQ9d3yjkqBl8kbIts" allowfullscreen></iframe>
<p>There will be some kind of gathering to kick off the weekend on Friday night--details to come!</p>
<p>On Saturday, we will have <span style="color:#d16f50; font-weight:bold">shuttles</span> departing from The Courtyard Marriott Littleton (102 Constitution Avenue, Littleton, MA -- stay tuned on timing), and there is ample parking at The Barn in case you are driving.</p>

<p>The <span style="color:#ff9800;font-weight:bold"> ceremony</span> will take place at Bancroft's Castle up on top of the hill. There will be shuttle buses to transport people from The Barn to the castle if you'd like, but you are more than welcome to walk there, too! Fair warning, there's a bit of an uphill stretch at the end!</p>
<p class="small-p"><span class="emph">Fun fact:</span>This castle was built in 1906 by General William Bancroft as a gift to his wife. In 1932, during a raucus 4th of July party put on by the Groton Hunt Club, it caught fire and burned down, leaving the ruins that are still there today! </p>

<p>After the ceremony, head down to The Barn for <span style="color:#d16f50;font-weight:bold">  drinks, dinner, dancing</span>, and lots of hilarity. </p>

<p>We'll round out the night with a piano <span style="color:#ff0098;font-weight:bold"> sing a long</span> sesh led by Lisa's brother, <a href="#" id="brian"><%= image_tag"brian.png", :class=> "brian-img"%>Brian</a>, and an <span style="color:#ff0098;font-weight:bold">after-party</span> (location TBD).</p>

<p>On Sunday, we'll have a  <span style="color:#d16f50; font-weight:bold"> big brunch</span> to close out the weekend -- stay tuned on time and location!</p>
<div class="address">
<h3>TL;DR</h3>
<p><i style="color:#d16f50;" class="fa fa-bus" aria-hidden="true"></i> <b><b> shuttles</b> leaving from Courtyard Marriott Littleton - 102 Constitution Ave, Littleton, MA</p>
<p><i style="color:#ff9800;"class="fa fa-heart" aria-hidden="true"></i> <b> ceremony & reception</b> - The Barn at Gibbet Hill -- 61 Lowell Rd, Groton, MA</p>
<p> <i style="color:#d16f50;" class="fa fa-beer" aria-hidden="true"></i> <b> move your boogie body to the afterparty</b>-Location TBD</p>
<p> <i style="color:#ff0098;" class="fa fa-coffee" aria-hidden="true"></i> <b> drag yourself out of bed for brunch </b>-Location TBD</p>
</div>
</div>

